openapi: 3.0.3
info:
  title: bank5 API
  version: 1.0.0
  description: Generated from LLD batch - Shopping Cart API for SCRUM-11692
  contact:
    name: API Support
    email: support@bank5.com
servers:
  - url: https://api.bank5.com
    description: Production server
  - url: https://staging-api.bank5.com
    description: Staging server
tags:
  - name: Shopping Cart
    description: Operations related to shopping cart management
paths:
  /api/cart/add:
    post:
      tags:
        - Shopping Cart
      summary: Add item to cart
      description: Adds a product to the shopping cart. If the product already exists in the cart, increments the quantity.
      operationId: SCRUM-11692_addItemToCart_post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemAddRequest'
      responses:
        '201':
          description: Item successfully added to cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Validation error - Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Out of stock - Requested quantity exceeds available stock
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/cart:
    get:
      tags:
        - Shopping Cart
      summary: Get cart
      description: Retrieves the current user's shopping cart with all items, quantities, and total price.
      operationId: SCRUM-11692_getCart_get
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cart retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Cart not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/cart/{productId}:
    delete:
      tags:
        - Shopping Cart
      summary: Remove item from cart
      description: Removes a specific product from the shopping cart by product ID.
      operationId: SCRUM-11692_removeItemFromCart_delete
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          description: Unique identifier of the product to remove from cart
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Item successfully removed from cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found in cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Shopping Cart
      summary: Update item quantity
      description: Updates the quantity of a specific product in the shopping cart.
      operationId: SCRUM-11692_updateItemQuantity_put
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          description: Unique identifier of the product to update
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemUpdateRequest'
      responses:
        '200':
          description: Item quantity successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          description: Validation error - Invalid quantity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found in cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Out of stock - Requested quantity exceeds available stock
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication. All cart endpoints require authentication.
  schemas:
    CartItemAddRequest:
      type: object
      required:
        - productId
        - quantity
      properties:
        productId:
          type: string
          format: uuid
          description: Unique identifier of the product to add to cart
          example: "550e8400-e29b-41d4-a716-446655440000"
        quantity:
          type: integer
          minimum: 1
          description: Quantity of the product to add (must be greater than 0 and not exceed available stock)
          example: 2
      description: Request body for adding an item to the shopping cart
    CartItemUpdateRequest:
      type: object
      required:
        - quantity
      properties:
        quantity:
          type: integer
          minimum: 1
          description: New quantity for the cart item (must be greater than 0 and not exceed available stock)
          example: 5
      description: Request body for updating the quantity of an item in the cart
    CartResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the cart
          example: "123e4567-e89b-12d3-a456-426614174000"
        userId:
          type: string
          format: uuid
          description: Unique identifier of the user who owns the cart
          example: "987e6543-e21b-12d3-a456-426614174999"
        items:
          type: array
          description: List of items in the shopping cart
          items:
            $ref: '#/components/schemas/CartItem'
        totalPrice:
          type: number
          format: decimal
          description: Total price of all items in the cart
          example: 299.98
        itemCount:
          type: integer
          description: Total number of items in the cart
          example: 3
      description: Response containing cart details with all items and total price
    CartItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the cart item
          example: "456e7890-e12b-34d5-a678-426614174111"
        productId:
          type: string
          format: uuid
          description: Unique identifier of the product
          example: "550e8400-e29b-41d4-a716-446655440000"
        productName:
          type: string
          description: Name of the product
          example: "Wireless Mouse"
        quantity:
          type: integer
          minimum: 1
          description: Quantity of this product in the cart
          example: 2
        price:
          type: number
          format: decimal
          description: Unit price of the product
          example: 49.99
        subtotal:
          type: number
          format: decimal
          description: Subtotal for this cart item (quantity * price)
          example: 99.98
      description: Individual item in the shopping cart
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the error occurred
          example: "2024-01-15T10:30:00Z"
        traceId:
          type: string
          description: Unique trace identifier for debugging
          example: "abc123-def456-ghi789"
        errorCode:
          type: string
          description: Application-specific error code
          example: "PRODUCT_NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "Product not found"
        details:
          type: array
          description: Detailed error information for validation failures
          items:
            $ref: '#/components/schemas/ErrorDetail'
      description: Standard error response structure
    ErrorDetail:
      type: object
      properties:
        field:
          type: string
          description: Field name that caused the error
          example: "quantity"
        issue:
          type: string
          description: Description of the validation issue
          example: "Invalid quantity/Out of stock"
      description: Detailed validation error information
